@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@font-face {
  font-family: 'Groote';
  src: url('../font/Groote-Regular.otf');
}


*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.site-name{
  font-family: Groote !important;
}

body::-webkit-scrollbar {
    display: none;
}

/* Remove clip-path on mobile */
@media (max-width: 767.98px) {
  .section1 {
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0) !important;
  }
}

@media (max-width: 767.98px) {
  .section3 {
    clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%) !important;
  }
}
